<?xml version="1.0" encoding="utf-8"?>
<analyticsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.1.5800.0">
	<Sites>
		<add SiteName="Default" SiteId="e2f1498b-6dbe-48cb-b2f5-1771541039f1" />
		<add SiteName="Default" SiteId="416acd56-d9fa-47a0-9074-6d42c7df1c0e" />
	</Sites>
</analyticsConfig>