<?xml version="1.0" encoding="utf-8"?>
<appearanceConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" >
	<frontendThemes>
		<add path="~/App_Data/Sitefinity/WebsiteTemplates/ICE/App_Themes/ICE" name="ICE" />
	</frontendThemes>
</appearanceConfig>