<?xml version="1.0" encoding="utf-8"?>
<forumsConfig xmlns:config="urn:telerik:sitefinity:configuration" xmlns:type="urn:telerik:sitefinity:configuration:type" config:version="8.1.5800.0">
	<notifications newPostNotificationTemplateId="5502813a-8ebc-6713-a604-ff0000d87dfb" newThreadNotificationTemplateId="5602813a-8ebc-6713-a604-ff0000d87dfb" />
</forumsConfig>